table{
margin-left:auto;
margin-right: auto;
text-align:center;
border-collapse:collapse;
}
th{
color: #ffffff;
background-color: #234058;
border:black;
border-color:black;
border-style:solid;
}
tr{
    border-style:solid;
    border-color:black;
    border-bottom:black;
    background-color:white;
    border-collapse:collapse;
    
}
h1 {
    font-family:"Times New Roman", Serif;
    color:#000000;
}