@import 'https://fonts.googleapis.com/css?family=Amiko';
Body{
    font-family:"Amiko",sans-serif;
    font-size:smaller;
}
a:link{
    color: #ffffff;
}
a:visited{
color: #ffffff;
}
a:hover{
color:#d3d3d3;
}
a:active{
    color:#234058;
}
