@import 'https://fonts.googleapis.com/css?family=Muli';
@import 'https://fonts.googleapis.com/css?family=Amiko';
Body{
    font-family:"Muli",sans-serif;
    font-size:smaller;
}
a:link{
    color: #000000;
}
a:visited{
color: #000000;
}
a:hover{
color:#234058;
}
a:active{
    color:#234058;
}
body{
    margin-right:1px;
}
